<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
    <property name="dataSource" ref="dataSource" />
    <property name="transactionManager" ref="transactionManager" />
    <!-- Activiti database problem: Tables missing for component(s) engine -->
    <property name="databaseSchemaUpdate" value="none" />
    <property name="jobExecutorActivate" value="false" />
    <!-- <property name="history" value="none" /> -->
    <property name="databaseType" value="mysql" />
    <property name="dbIdentityUsed" value="false" />
    <!-- 不检测历史表是否存在,应对Activiti database problem: Tables missing for component(s) history, identity -->
    <property name="dbHistoryUsed" value="false" />
    <!-- 发布时是否包括流程图片png -->
    <property name="createDiagramOnDeploy" value="false" />
    <!-- 避免发布的图片和xml遇到中文时乱码 -->
    <property name="activityFontName" value="宋体"/>
    <property name="labelFontName" value="宋体"/>
    <!-- 解析xml流程文件所使用的字符集，默认为utf8，依据数据库来 -->
    <property name="xmlEncoding" value="utf8"/>
    <property name="deploymentResources">
    <!-- 自动部署 -->
    <list>
    <value>classpath*:/gms/*</value>
    </list>
    </property>
    </bean>
    
     <bean id="processEngineFactory" class="org.activiti.spring.ProcessEngineFactoryBean">
    <property name="processEngineConfiguration" ref="processEngineConfiguration" />
  </bean>

    <bean id="repositoryService" factory-bean="processEngineFactory" factory-method="getRepositoryService" />
    <bean id="runtimeService" factory-bean="processEngineFactory" factory-method="getRuntimeService" />
    <bean id="formService" factory-bean="processEngineFactory" factory-method="getFormService" />
    <bean id="identityService" factory-bean="processEngineFactory" factory-method="getIdentityService" />
    <bean id="taskService" factory-bean="processEngineFactory" factory-method="getTaskService" />
    <bean id="historyService" factory-bean="processEngineFactory" factory-method="getHistoryService" />
    <bean id="managementService" factory-bean="processEngineFactory" factory-method="getManagementService" />   

    
</beans>